<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-sm-11">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ 'About' | translate }}</h2>
                <p class="lead">{{ 'I created this website for my dad\'s 62nd birthday. I promised him once that I will
                write something where he could store the books from our house. Application can store a user home books
                as the online library. The whole idea is split into two sections: creating books and creating shelves. User
                can then assign a book to a shelf.' | translate }} </p>
                <p class="lead">{{ 'As far as technology is concern, this is my first appliction written using' | translate }}
                <a href='http://meanjs.org/' target='_blank'>MEAN stack</a>.
                {{ 'The codebase is shared on' | translate }} <a href='https://github.com/jakubsikora/books' target='_blank'>{{ 'my github profile' | translate }}</a>.
                </p>
                <p class="lead">{{ 'The inspiration and a good source of knowledge of using MEAN stack is coming from the' | translate }}
                <a href='http://www.bossable.com/category/mean-stack-challenge/' target='_blank'>{{ 'tutorial' | translate }}</a>.</p>
                <p>
                  {{ 'Special thanks to:' | translate }}<br/>
                  <ul>
                    <li><a href='https://github.com/organicpanda' target='_blank'>organicpanda</a>, {{ 'for some help with CSS' | translate }}</li>
                    <li><a href='https://github.com/foreachlt/' target='_blank'>foreachlt</a>, {{ 'for some help with Angular, Mongo and general MEAN knowledge' | translate }}</li>
                    <li>{{ 'and my wife for being patient and supportive while writing this application' | translate }}</li>
                  </ul>

                </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>