<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-sm-11">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ 'About' | translate }}</h2>
                <p class="lead">{{ 'I once promised my father that I would create a virtual library where he could store and manage his book collections online.  This website is that promise fulfilled - as a gift on his 62nd birthday...' | translate }} </p>
                <p>
                  {{ 'Special thanks to:' | translate }}<br/>
                  <ul>
                    <li><a href='https://github.com/organicpanda' target='_blank'>organicpanda</a>, {{ 'for some help with CSS' | translate }}</li>
                    <li><a href='https://github.com/foreachlt/' target='_blank'>foreachlt</a>, {{ 'for some help with Angular, Mongo and general MEAN knowledge' | translate }}</li>
                    <li>{{ 'and my wife for being patient and supportive while writing this application' | translate }}</li>
                  </ul>

                </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>