<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-sm-11">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ 'Contact' | translate }}</h2>
                <ul class="list-inline">
                    <li>
                        <a href='https://twitter.com/deboer_82' target='_blank'><i class="fa fa-twitter fa-4x"></i></a>
                    </li>
                    <li>
                        <a href='https://github.com/jakubsikora' target='_blank'><i class="fa fa-github fa-4x"></i></a>
                    </li>
                    <li>
                        <a href='https://www.facebook.com/jakub.sikora.16' target='_blank'><i class="fa fa-facebook fa-4x"></i></a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>