<section data-ng-controller="HomeController">
<div class="intro-message">
    <h3>{{ 'My Books' | translate }}</h3>
    <hr class="intro-divider">
    <div class="alert alert-warning" role="alert" ng-if="flattenBooks.length < 2">
    	{{ 'You have not added any books to your library.' | translate }}
    	{{ 'Click' | translate }} <a href='/#!/books'>{{ 'here' | translate }}</a> {{ 'and start adding new books.' | translate }}
    </div>
</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bookshelf-wrapper">
				<div class="bookshelf-top"></div>
				<div class="bookshelf-left"></div>
				<div class="bookshelf-right"></div>
				<ul class="bookshelf-container">
					<li class="book"
							ng-repeat="book in flattenBooks"
							ng-class="{
								'book-end': book.bookEnd,
								'book-placeholder': book.bookPlaceholder
							}"
							ng-style="{	width: book.sizeWidth }">
							<span class='book-spine'
										ng-if="!book.bookPlaceholder"
										ng-style="{
											color: book.fontColour,
											background: book.coverColour,
											lineHeight: book.sizeWidth,
											height: book.sizeWidth }">
								<span>{{ book.bookEnd === false ? '"' + book.title + '", ' : '' }}</span>
								<span>{{ book.bookEnd === false ?  book.author : '' }}</span>
							</span>
							<span class="book-cover"
										ng-if="!book.bookPlaceholder">
								<span class="book-cover-author">{{ book.author }}</span>
								<span class="book-cover-title">{{ book.title }}</span>
							</span>
						</li>
				 </ul>
			</div>
		</div>
	</div>
</section>
