<section data-ng-controller="ShelvesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Shelves</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="shelf in shelves" data-ng-href="#!/shelves/{{shelf._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="shelf.created | date:'medium'"></span>
				by
				<span data-ng-bind="shelf.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="shelf.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!shelves.$resolved || shelves.length">
    	No Shelves yet, why don't you <a href="/#!/shelves/create">create one</a>?
    </div>
</section>