<section data-ng-controller="ShelvesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Shelves</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text"
                       class="form-control"
                       ng-model="searchText"
                       placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4" text-center>
            <button type="button" class="btn btn-lg btn-success text-center">
                <span class="glyphicon glyphicon-th-list"></span> New Shelf
            </button>
        </div>
    </div>

    <div class="list-group">
        <div class="col-xs-12 col-sm-12" data-ng-repeat="shelf in shelves | filter:searchText">
            <a ng-click="modalUpdate('lg', shelf)" class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="shelf.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="shelf.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="shelf.name"></h4>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!shelves.$resolved || shelves.length">
    	No Shelves yet, why don't you <a href="/#!/shelves/create">create one</a>?
    </div>
</section>