<section data-ng-controller="BooksController">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'Delete book:' | translate }} <em>{{ formData.title }}</em>?</h3>
    </div>
    <div class="modal-body">
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">{{ 'Delete' | translate }} &amp; {{ 'Close' | translate }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
</section>