<section data-ng-controller="BooksController">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'Edit Book' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form.editBookForm">
            <input type="hidden" data-ng-model="formData._id" />
            <input type="hidden" data-ng-model="formData.thumbnail" />
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="isbn">{{ 'ISBN' | translate }}</label>
                    <div class="col-sm-9 book-search">
                        <div class="input-group">
                            <input type="text"
                                   data-ng-model="formData.isbn"
                                   id="isbn"
                                   class="form-control"
                                   placeholder="{{ 'ISBN (10 or 13 chars)' | translate }}"
                                   ng-blur="format('isbn')">
                            <span class="form-control-feedback"
                                  ng-class="{ 'glyphicon glyphicon-refresh glyphicon-refresh-animate': data.search.start}"></span>
                            <span class="input-group-btn">
                                <button class="btn btn-default"
                                        type="button"
                                        ng-click="executeSearch('isbn:')"
                                        ng-blur="closeSearch($event)">
                                        {{ 'Go!' | translate }}
                                </button>
                            </span>
                        </div>
                        <ul class="book-search-results form-group"
                            ng-show="data.search.books.length > 0 && !data.search.hide" >
                            <li ng-repeat="book in data.search.books"
                                class="book-search-results-item form-control"
                                ng-mousedown="loadBook(book)">

                                <img ng-src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
                                     ng-if="book.volumeInfo.imageLinks.smallThumbnail" />
                                <strong>{{ book.volumeInfo.authors.join(', ') }}: </strong>
                                <strong>{{ book.volumeInfo.title }}, </strong>
                                <strong>{{ book.volumeInfo.publishedDate }}</strong>
                            </li>
                        </ul>
                        <span ng-show="data.search.books.length === 0 && data.search.hide === false">{{ 'No books found.' | translate }}</span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="title">{{ 'Title' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" data-ng-model="formData.title" id="title" class="form-control" placeholder="{{ 'Title' | translate }}" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="author">{{ 'Author(s)' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" data-ng-model="formData.author" id="author" class="form-control" placeholder="{{ 'Author(s)' | translate }}" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="publishedDate">{{ 'Published date' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="formData.publishedDate" id="publishedDate" class="form-control" placeholder="{{ '1900' | translate }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="description">{{ 'Description' | translate }}</label>
                    <div class="col-sm-9">
                        <textarea rows="3" data-ng-model="formData.description" id="description" class="form-control" placeholder="{{ 'Description' | translate }}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="pageCount">{{ 'Page count' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="formData.pageCount" id="pageCount" class="form-control" placeholder="{{ 'e.g. 200' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="coverColour">{{ 'Cover colour' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="color" data-ng-model="formData.coverColour" id="coverColour" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="fontColour">{{ 'Font colour' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="color" data-ng-model="formData.fontColour" id="fontColour" class="form-control">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="genre">{{ 'Select genre' | translate }}</label>
                    <div class="col-sm-9">
                        <select ng-model="formData.genre"
                                ng-options="genre as ( genre.name | translate | uppercase) for genre in genres track by genre._id"
                                class="form-control"
                                required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="name">{{ 'or add a new' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="formData.newgenre" class="form-control" placeholder="{{ 'New genre' | translate }}">
                    </div>
                    <div class="col-sm-3">
                        <a ng-click="addGenre()" class="btn btn-success btn-sm">{{ 'Add new genre' | translate }}</a>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="name">{{ 'Select shelf' | translate }}</label>
                    <div class="col-sm-9">
                        <select ng-model="formData.shelf"
                                ng-options="shelf as (shelf.name | uppercase) for shelf in shelves track by shelf._id"
                                class="form-control"
                                required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="name">{{ 'or add a new' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="formData.newshelf" class="form-control" placeholder="{{ 'New shelf name' | translate }}">
                    </div>
                    <div class="col-sm-3">
                        <a ng-click="addShelf()" class="btn btn-success btn-sm">{{ 'Add new shelf' | translate }}</a>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok(formData)">{{ 'Save' | translate }} &amp; {{ 'Close' | translate }}</button>
        <button class="btn btn-danger" ng-click="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
</section>