<section data-ng-controller="BooksController">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'Edit Book' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form.editBookForm">
            <input type="hidden" data-ng-model="formData._id" />
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="isbn">{{ 'ISBN' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" data-ng-model="formData.isbn" id="isbn" class="form-control" placeholder="{{ 'ISBN (10 or 13 chars)' | translate }}">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="title">{{ 'Title' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" data-ng-model="formData.title" id="title" class="form-control" placeholder="{{ 'Title' | translate }}" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="author">{{ 'Author(s)' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" data-ng-model="formData.author" id="author" class="form-control" placeholder="{{ 'Author(s)' | translate }}" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="publishedDate">{{ 'Published date' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="formData.publishedDate" id="publishedDate" class="form-control" placeholder="{{ '1900' | translate }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="description">{{ 'Description' | translate }}</label>
                    <div class="col-sm-9">
                        <textarea rows="3" data-ng-model="formData.description" id="description" class="form-control" placeholder="{{ 'Description' | translate }}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="pageCount">{{ 'Page count' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="formData.pageCount" id="pageCount" class="form-control" placeholder="{{ 'e.g. 200' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="coverColour">{{ 'Cover colour' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="color" data-ng-model="formData.coverColour" id="coverColour" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="fontColour">{{ 'Font colour' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="color" data-ng-model="formData.fontColour" id="fontColour" class="form-control">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="genre">{{ 'Select genre' | translate }}</label>
                    <div class="col-sm-9">
                        <select ng-model="formData.genre"
                                class="form-control">
                            <option></option>
                            <option ng-repeat="genre in genres"
                                    value="{{ genre.name }}"
                                    ng-selected="{{ genre.name === formData.genre }}">{{ genre.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="name">{{ 'or add a new' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="formData.newgenre" class="form-control" placeholder="{{ 'New genre' | translate }}">
                    </div>
                    <div class="col-sm-3">
                        <a ng-click="addGenre()" class="btn btn-success btn-sm">{{ 'Add new genre' | translate }}</a>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" for="name">{{ 'Select shelf' | translate }}</label>
                    <div class="col-sm-9">
                        <select ng-model="formData.shelf"
                                ng-options="shelf as (shelf.name | uppercase) for shelf in shelves track by shelf._id"
                                class="form-control"
                                required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="name">{{ 'or add a new' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="formData.newshelf" class="form-control" placeholder="{{ 'New shelf name' | translate }}">
                    </div>
                    <div class="col-sm-3">
                        <a ng-click="addShelf()" class="btn btn-success btn-sm">{{ 'Add new shelf' | translate }}</a>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok(formData)">{{ 'Save' | translate }} &amp; {{ 'Close' | translate }}</button>
        <button class="btn btn-danger" ng-click="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
</section>