<section data-ng-controller="BooksController">
    <div class="page-header">
        <h1>{{ 'Books' | translate }}</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text"
                       class="form-control"
                       ng-model="filter.query"
                       placeholder="{{ 'Search your books...' | translate }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">{{ 'Go!' | translate }}</button>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4" text-center>
            <button type="button" class="btn btn-lg btn-success text-center" ng-click="modalCreate('lg')">
                <span class="glyphicon glyphicon-th-list"></span> {{ 'New Book' | translate }}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-9 pagination-header">
            <form class="form-inline">
                <div class="input-group">
                    <select ng-model="filter.genre"
                        ng-options="genre as ( genre.name | translate | uppercase) for genre in genres track by genre._id"
                        class="form-control input-md"><option value="">{{ 'All Genres' | translate | uppercase }}</option></select>
                </div>
                <div class="input-group">
                    <select ng-model="filter.shelf"
                        ng-options="shelf as ( shelf.name | translate | uppercase) for shelf in shelves track by shelf._id"
                        class="form-control input-md"><option value="">{{ 'All Shelves' | translate | uppercase }}</option></select>
                </div>
            </form>
        </div>
    </div>

<!--     <div class="row list-buffer">
        <div class="alert alert-success" role="alert" ng-if="data.alert">{{ data.alert }}</div>
        <div class="list-group">
            <div class="col-xs-12 col-sm-12 list-group-item" data-ng-repeat="book in data.filteredBooks | customFilter">
                <div class="pull-left book-list-author-title">
                    <span class="list-group-item-text">
                        <strong class="uppercase">{{ book.author }}: </strong>
                        <em>{{ book.title }}</em>
                    </span>
                </div>
                <div class="pull-right book-list-action">
                    <span class="label label-primary uppercase" title="{{ 'genre' | translate }}">{{ book.genre[0].name }}</span>
                    <span class="label label-default" title="{{ 'shelf' | translate }}">{{ book.shelf.name | translate }}</span>
                    <button class="btn btn-info btn-sm" ng-click="modalUpdate('lg', book)">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit' | translate }}
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="modalDelete('lg', book)">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'Delete' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="alert alert-success" role="alert" ng-if="data.alert">{{ data.alert }}</div>
        <div class="col-xs-12 col-sm-12">
            <table class="table table-condensed table-bordered table-nowrap">
                <tr class="active">
                    <th class="author">{{ 'Author' | translate }}</th>
                    <th class="title">{{ 'Title' | translate }}</th>
                    <th class="genre">{{ 'Book genre' | translate }}</th>
                    <th class="shelf">{{ 'Shelf' | translate }}</th>
                    <th class="action"></th>
                </tr>
                <tr ng-repeat="book in data.filteredBooks | customFilter" class="active">
                    <td class="author"><strong class="uppercase">{{ book.author }}</strong></td>
                    <td class="title"><em>{{ book.title }}</em></td>
                    <td class="genre"><span class="label label-primary uppercase" title="{{ 'genre' | translate }}">{{ book.genre[0].name }}</span></td>
                    <td class="shelf"><span class="label label-default" title="{{ 'shelf' | translate }}">{{ book.shelf.name | translate }}</span></td>
                    <td class="action">
                        <button class="btn btn-info btn-sm" ng-click="modalUpdate('lg', book)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-sm" ng-click="modalDelete('lg', book)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <div class="input-group input-group-md alert-pagination">
                <span class="input-group-addon">
                    {{ pagination.firstOnPage }} - {{ pagination.lastOnPage }}
                    {{ 'of' | translate }}
                    {{ pagination.totalItems }} {{ 'books' | translate }}
                </span>
                <select class="form-control pagination-per-page"
                        ng-model="filter.itemsPerPage">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 pull-right">
            <div class="input-group">
                <pagination total-items="pagination.totalItems"
                            ng-model="pagination.currentPage"
                            max-size="pagination.maxSize"
                            items-per-page="pagination.itemsPerPage"
                            ng-change="pageChanged()"
                            num-pages="pagination.numPages"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            class="pull-right"
                            rotate="false"></pagination>
            </div>
        </div>
    </div>
</section>