<section data-ng-controller="BooksController">
    <div class="page-header">
        <h1>{{ 'Books' | translate }}</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text"
                       class="form-control"
                       ng-model="searchText"
                       placeholder="{{ 'Search your books...' | translate }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">{{ 'Go!' | translate }}</button>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4" text-center>
            <button type="button" class="btn btn-lg btn-success text-center" ng-click="modalCreate('lg')">
                <span class="glyphicon glyphicon-th-list"></span> {{ 'New Book' | translate }}
            </button>
        </div>
    </div>

    <div class="row list-buffer">
        <div class="alert alert-success" role="alert" ng-if="data.alert">{{ data.alert }}</div>
        <div class="col-xs-12 col-sm-12" data-ng-repeat="shelf in data.shelves">
            <div class="panel panel-default">
                <div class="panel-heading uppercase bookshelf-head">
                    {{ shelf.name | translate }}
                    <span class="label label-info shelf-description">{{ shelf.description | translate }}</span></small>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="col-xs-12 col-sm-12 list-group-item" data-ng-repeat="book in shelf.books | filter:searchText">
                            <div class="pull-left">
                                <span class="list-group-item-text">
                                    <strong class="uppercase">{{ book.author }}: </strong>
                                    <em>{{ book.title }}</em>
                                </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-info btn-sm" ng-click="modalUpdate('lg', book)">
                                    <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit' | translate }}
                                </button>
                                <button class="btn btn-danger btn-sm" ng-click="modalDelete('lg', shelf, book)">
                                    <span class="glyphicon glyphicon-trash"></span> {{ 'Delete' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>